<!doctype html>
<html lang="fr">
<head>
  {% block head %}
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename = 'js/javascript.js') }}" defer></script>
  {% endblock %}
</head>


<body>

  <ul>
    <li><a href="{{ url_for('index') }}">Home</a></li>
    <li><a href="{{ url_for('create') }}">Ajouter un objet</a></li>
  </ul>

  <div id="content">{% block content %}{% endblock %}</div>

</body>
</html>