{% extends "base.html" %}

{% block title %}Create{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        <p>Name :</p>
        <p><input type="text" name="name" autocomplete="off"/></p>
        <p><input type=file name=file></p>
        <p><input type="submit" value="submit" /></p>
    </form>
{% endblock %}