{% extends "base.html" %}

{% block title %}Delete{% endblock %}

{% block content %}
   
    <p>Page exemple sur templates/delete.html.</p>

    {% if deletion: %}
        
        <p>L'item : <strong>{{ id }}</strong> a été supprimé</p>

        <p><a href="{{ url_for('index') }}">Retourner à l'index.</a></p>

    {% else: %}

        <p>Supprimer l'item : <strong>{{ id }}</strong> ?</p>

        <form method="post">
            <input type="submit" name="submit" value="Valider">
        </form>

        <p><a href="{{ url_for('index') }}"><span class="cancel">Annuler</span></a></p>

    {% endif %}

    
{% endblock %}