{% extends "base.html" %}

{% block title %}Edit{% endblock %}

{% block content %}
   
    <p>Page exemple sur templates/edit.html.</p>

    <p>La page d'édition de l'item <strong>{{ item.name }}</strong> avec l'identifiant <strong>{{ item.id }}</strong></p>

    <form method="post">
        <p>Name :</p>
        <p><input type="text" name="name" value="{{item.name}}" autocomplete="off"/></p>
        <p><input type="submit" value="submit" /></p>
    </form>

{% endblock %}