{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %}
    
    {% if items|length < 1: %}
        <p>Pas d'items dans content/</p>
    {% else: %}
        <ul>
        {% for item in items: %}
            <li>
                <ul>
                    <li><strong>{{ item.name }}</strong></li>
                    <li>{{ item.id }}</li>
                    <li>date de création : {{ item.created.strftime('%Y.%m.%d %Hh%M') }}</li>
                    <li>date de modification : {{ item.modified.strftime('%Y.%m.%d %Hh%M') }}</li>
                    <li><a href="{{ url_for('view', item_id=item.id) }}">Voir</a></li>
                    <li><a href="{{ url_for('edit', item_id=item.id) }}">Éditer</a></li>
                    <li><a href="{{ url_for('delete', item_id=item.id) }}">Supprimer</a></li>
                </ul>
            </li>
        {% endfor %}
        </ul>
    {% endif %}

{% endblock %}