{% extends "base.html" %}

{% block title %}View{% endblock %}

{% block content %}
   
    <p>Page exemple sur templates/view.html.</p>

    <p>La page de l'item <strong>{{ item.name }}</strong> avec l'identifiant <strong>{{ item.id }}</strong></p>
        
{% endblock %}